# Generic ignores
*.log
*.db
*.pyc
._*
__pycache__

# Directory (contents) ignores
config/.cloud
config/.storage 
config/deps

# Specific file ignores
config/www/tmp
config/image
config/secrets.yaml
config/entities/media_players/*

workspace.code-workspace

# ESPHome ignores
config/esphome/secrets.yaml
config/esphome/**/
config/esphome/*

# Custom component I don't want to track here
config/custom_components/

# OS files
.DS_Store

# Virtual environement
# venv
config/home-assistant_v2.db.corrupt.2021-02-05T14:28:22.749491+00:00
